.navbar-toggler-icon {
    background-color: red;
    border-radius: 5px;
}

.navbar-toggler {
    border: 2px solid #000000;
}

.navbar-toggler:hover {
    color: blue;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    color: red;
}

.navbar-nav .nav-link:hover {
    color: blue;
    text-decoration: underline;
}

.navbar-brand {
    margin: 0 10px;
    color: red;
    font-family: fantasy, 'Courier new', Courier;
}

.navbar {
    background-color: black;
    border-width: 2px;
    border-color: red;
    border-style: solid;
}

.navbar-brand:hover {
    color: blue;
    text-decoration: underline;
}

footer {
    vertical-align: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    background-color: black;
    color: red;
    border-width: 2px;
    border-style: solid;
}

body {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
}

section {
    background-color: black;
    color: red;
    border: 2px, solid, red;
    padding: 40px;
    text-align: center;
    margin: 10px;
}

.contact {
    flex: 1;
}

.about-us {
    text-align: left;
}

.text-pic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.associate-picture {
    height: 300px;
    width: auto;
    margin-right: 50px;
    border: solid red;
}